.image-profile{
    width : 128px;
    height: 128px;
    margin-top: 110px;
    margin-left: 25px;
    margin-bottom: 5px;

}

.userName{
    margin-top: 125px;


}
.jumbotron-cu{
    width: 80%;
    height: 256px;

}